
<style>
html,body{
	width:100%;
	padding:0;
	margin:0;
}
		/*Header Style-sheet*/
		
		
				/*Logo Style-sheet*/
				
	#logo{
			margin:0px 0px 40px 0px;
			width:25px;
			line-height:12px;
			text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
			font-size: 22px;
			height: 150px;
			width: 250px;
			overflow: hidden;
			display: block;
			text-align: center;
			line-height: 70px;
  		}
		
		
		/*design bar under logo*/
		
		
	#bar{
		  margin:-30px 20px 20px;
		  }
	#bar2{
		  margin:-35px 20px 20px;
		  }
	#bar3{
		  margin:-20px 20px 20px;
		  }	
		  
		  
		  /*this area contains empty white space*/
		  
	div.space{
			margin:150px;
			display:block;
			}
			
	#head{
		height:325px;
		position:relative;
		margin:10px;
		}
		/*Sliding Window Besides Logo Styling Sheet*/
		
	.dropdownwrap0{
			width:650px;
			position:absolute;
			
			margin:-198px 252px 20px;
			text-align:center;
			font-family: 'Patrick Hand SC', cursive;
			font-size:36px;
			color:#ffffff;;
			border:2px solid #000000;
			height:150px;
			background-image:url('./Images/footer2.png');
			background-repeat:x-x;
			background-attachment:fixed;
			background-position:center;
			display:block;
			overflow:hidden;
			-webkit-border-radius: 15px;
			line-height:1px;
			}


	.container p{
			font-family: 'Open Sans', sans-serif;
			font-size:10pt;
			color:#B7B7B7;
			text-align:center;
			padding-bottom:50px;
		}

	.container a,
	.container a:visited{
		padding:8px 14px;
		font-size:12pt;
		border:1px solid #CCCCCC;
		background-color:#DDDDDD;
		text-decoration:none;
		text-transform:uppercase;
		color:#424242;
		border-radius:3px;
	}

	.container a:hover{
		padding:8px 14px;
		font-size:12pt;
		border:1px solid #F2F2F2;
		background-color:white;
		color:#CCCCCC;
	}
	
	
	/*End of Header*/
	
			/*Body Starts*/
				/*Drop-down Page Style-sheet. */
				
	#content1{
			height:10px;
			margin:0px;
			}
	body{
			background-image:url('./Images/back2.jpg');
			background-repeat:none;
			background-attachment:fixed;
			background-position:center;
			}
	.dropdownwrap{
			height:370px;
			width:1390px;
			float:left;
			margin: -152px 30px 0px 3px;
			background-color:#434343;
			line-height:50px;
			padding:0px 02px;
			position:relative;
			display:none;
			border:2px solid #000000;
	
	
			}
			.dropdownwrap1{
			height:370px;
			width:1390px;
			float:left;
			margin: -152px 30px 0px 3px;
			background-color:#434343;
			line-height:50px;
			padding:0px 02px;
			position:relative;
			display:none;
			border:2px solid #000000;
	
	
			}
			.dropdownwrap2{
			height:370px;
			width:1390px;
			float:left;
			margin: -152px 30px 0px 3px;
			background-color:#434343;
			line-height:50px;
			padding:0px 02px;
			position:relative;
			display:none;
			border:2px solid #000000;
	
	
			}
			.dropdownwrap3{
			height:370px;
			width:1390px;
			float:left;
			margin: -152px 30px 0px 3px;
			background-color:#434343;
			line-height:50px;
			padding:0px 02px;
			position:relative;
			display:none;
			border:2px solid #000000;
	
	
			}

	.container{
			width:100%;
			float:left;
			}

	.container h2{
			width:100%;
			float:left;
			padding:40px 0px;
			margin:0;
			text-align:center;
			font-family: 'Patrick Hand SC', cursive;
			font-size:36px;
			color:#434343;
			}
		/*Dropdown-Menu Stylesheet Ends */
		
		
		
		
	
	
		/*Navigation Menu Style-sheet*/

	div.buttons{
						
		position:relative;						
		text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
		font-size: 22px;
		height: 99.2px;
		width: 145px;
		margin: 0px -0px 0px 40px;
		overflow: hidden;
		text-align: center;
		line-height: 18px;
		float:left;
		padding:0px px px 0px;
		display:none;
				}
				
				/*Hover Effect in Menu*/
				
	div.buttons:hover{
		margin-top: -15px;
 
  
		  /*Rounded Corners*/
		-webkit-border-radius: 50px;
		-moz-border-radius: 4px;
		border-radius: 2px;
		 
		/*Shadow*/
		-webkit-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);
		-moz-box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);
		box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.8);
		 
		/*Gradient*/
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
		  
		   
		 /*Shadow*/
		  -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
		  -moz-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
		  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.8);
		   
		 /*Gradient*/
		  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
		  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
		  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
		  background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
		  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
		}
							
		}
		
		
		
		/*Buttons ("+") Style-sheet*/
		
		
	button{
			margin:27px -25px;
			width:50px;
			height:25px;
			
			}
	#buttons_add{
			margin:-330px 270px;
			line-height:55px;
			width:1px;
			position:absolute;
			;
			padding:0 0 0 0;
			
			
			}
		
		/*End oF Body*/
			
	
		/*footer Style-Sheet*/
		
	#footer{
			
			 margin:-210px 920px;
			 height:5px;
			 line-height:5px;
			 width:300px;
			 }
			
	.foot{
			color:#ffffff;
			margin:0px 4px;
			font-size:18px;
			background-image:url('./Images/footer.png');
			background-repeat:x-x;
			background-attachment:fixed;
			background-position:center;
			-webkit-border-radius: 6px;
			border:1px solid #000000;
			}
		
		/* Style-sheet for the popup window*/
	.stylemyModal{ 
		
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:300px;
    min-height: 50px;
	
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}
 /* style-sheet for the content to be displayed below the sliding window. The content has been set to hidden till its complete*/
 #display_details{
 
	background-image:url('./Images/display_sample2.jpg');
			background-repeat:X-x;
			background-attachment:fixed;
			background-position:center;
  border:2px solid #000000;
  margin:10px 200px;
  width:950px;
  line-height:30px;
 float:left;
  font-size:24px;
  }
  
  .sub_details{
   border:2px solid #000000;
   height:350px;
   width:260px;
   float:left;
   padding:10px 10px 10px 10px;
   margin:10px 15px;
   
   }
   #collect{
   display:none;
   }
   
		/*End oF Style-Sheet*/
			
	</style>