<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ExhibitorNew</display-name>
  <welcome-file-list>
    <welcome-file>hom.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginCommand</display-name>
    <servlet-name>LoginCommand</servlet-name>
    <servlet-class>com.bvr.controller.LoginCommand </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCommand</servlet-name>
    <url-pattern>/LoginCommand </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTheatorHandler</display-name>
    <servlet-name>InsertTheatorHandler</servlet-name>
    <servlet-class>com.bvr.controller.InsertTheatorHandler </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTheatorHandler</servlet-name>
    <url-pattern>/InsertTheatorHandler </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertStateHandler </display-name>
    <servlet-name>InsertStateHandler</servlet-name>
    <servlet-class>com.bvr.controller.InsertStateHandler </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertStateHandler</servlet-name>
    <url-pattern>/InsertStateHandler </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertDistrictHandler </display-name>
    <servlet-name>InsertDistrictHandler</servlet-name>
    <servlet-class>com.bvr.controller.InsertDistrictHandler </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertDistrictHandler</servlet-name>
    <url-pattern>/InsertDistrictHandler </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCollection </display-name>
    <servlet-name>DeleteCollection</servlet-name>
    <servlet-class>com.bvr.controller.DeleteCollection </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCollection</servlet-name>
    <url-pattern>/DeleteCollection </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCenterHandler</display-name>
    <servlet-name>InsertCenterHandler</servlet-name>
    <servlet-class>com.bvr.controller.InsertCenterHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCenterHandler</servlet-name>
    <url-pattern>/InsertCenterHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.bvr.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TermInsertController</display-name>
    <servlet-name>TermInsertController</servlet-name>
    <servlet-class>com.bvr.controller.TermInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TermInsertController</servlet-name>
    <url-pattern>/TermInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DistributorInsertController</display-name>
    <servlet-name>DistributorInsertController</servlet-name>
    <servlet-class>com.bvr.controller.DistributorInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributorInsertController</servlet-name>
    <url-pattern>/DistributorInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieInsertController</display-name>
    <servlet-name>MovieInsertController</servlet-name>
    <servlet-class>com.bvr.controller.MovieInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieInsertController</servlet-name>
    <url-pattern>/MovieInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>collectionController</display-name>
    <servlet-name>collectionController</servlet-name>
    <servlet-class>com.bvr.controller.collectionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>collectionController</servlet-name>
    <url-pattern>/collectionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAdd</display-name>
    <servlet-name>InsertAdd</servlet-name>
    <servlet-class>com.bvr.controller.InsertAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAdd</servlet-name>
    <url-pattern>/InsertAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddController</display-name>
    <servlet-name>AddController</servlet-name>
    <servlet-class>com.bvr.controller.AddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddController</servlet-name>
    <url-pattern>/AddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateController</display-name>
    <servlet-name>updateController</servlet-name>
    <servlet-class>com.bvr.controller.updateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateController</servlet-name>
    <url-pattern>/updateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controller</display-name>
    <servlet-name>controller</servlet-name>
    <servlet-class>com.bvr.controller.controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelFile1</display-name>
    <servlet-name>ExcelFile1</servlet-name>
    <servlet-class>com.bvr.controller.ExcelFile1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelFile1</servlet-name>
    <url-pattern>/ExcelFile1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MappingHandler</display-name>
    <servlet-name>MappingHandler</servlet-name>
    <servlet-class>com.bvr.controller.MappingHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MappingHandler</servlet-name>
    <url-pattern>/MappingHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectionHandler</display-name>
    <servlet-name>CollectionHandler</servlet-name>
    <servlet-class>com.bvr.controller.CollectionHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectionHandler</servlet-name>
    <url-pattern>/CollectionHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name> ViewTheatorHandler</display-name>
    <servlet-name>ViewTheatorHandler</servlet-name>
    <servlet-class>com.bvr.controller. ViewTheatorHandler </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTheatorHandler</servlet-name>
    <url-pattern>/ ViewTheatorHandler </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name> ViewStateHandler</display-name>
    <servlet-name>ViewStateHandler</servlet-name>
    <servlet-class>com.bvr.controller. ViewStateHandler </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStateHandler</servlet-name>
    <url-pattern>/ViewStateHandler </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name> UpdateTheatorHandler</display-name>
    <servlet-name>UpdateTheatorHandler</servlet-name>
    <servlet-class>com.bvr.controller.UpdateTheatorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTheatorHandler</servlet-name>
    <url-pattern>/UpdateTheatorHandler </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name> UpdateCenterHandler</display-name>
    <servlet-name>UpdateCenterHandler</servlet-name>
    <servlet-class>com.bvr.controller.UpdateCenterHandler </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCenterHandler</servlet-name>
    <url-pattern>/UpdateCenterHandler </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name> UpdateDistrictHandler</display-name>
    <servlet-name>UpdateDistrictHandler</servlet-name>
    <servlet-class>com.bvr.controller.UpdateDistrictHandler </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDistrictHandler</servlet-name>
    <url-pattern>/UpdateDistrictHandler </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name> ViewDistrictHandler</display-name>
    <servlet-name>ViewDistrictHandler</servlet-name>
    <servlet-class>com.bvr.controller.ViewDistrictHandler </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewDistrictHandler</servlet-name>
    <url-pattern>/ ViewDistrictHandler </url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTheatorHandler</display-name>
    <servlet-name>DeleteTheatorHandler</servlet-name>
    <servlet-class>com.bvr.controller.DeleteTheatorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTheatorHandler</servlet-name>
    <url-pattern>/DeleteTheatorHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStateHandler</display-name>
    <servlet-name>DeleteStateHandler</servlet-name>
    <servlet-class>com.bvr.controller.DeleteStateHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStateHandler</servlet-name>
    <url-pattern>/DeleteStateHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDistrictHandler</display-name>
    <servlet-name>DeleteDistrictHandler</servlet-name>
    <servlet-class>com.bvr.controller.DeleteDistrictHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDistrictHandler</servlet-name>
    <url-pattern>/DeleteDistrictHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCenterHandler</display-name>
    <servlet-name>DeleteCenterHandler</servlet-name>
    <servlet-class>com.bvr.controller.DeleteCenterHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCenterHandler</servlet-name>
    <url-pattern>/DeleteCenterHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllDistributorController</display-name>
    <servlet-name>ViewAllDistributorController</servlet-name>
    <servlet-class>com.bvr.controller.ViewAllDistributorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllDistributorController</servlet-name>
    <url-pattern>/ViewAllDistributorController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllUsersController</display-name>
    <servlet-name>ViewAllUsersController</servlet-name>
    <servlet-class>com.bvr.controller.ViewAllUsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllUsersController</servlet-name>
    <url-pattern>/ViewAllUsersController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserController</display-name>
    <servlet-name>DeleteUserController</servlet-name>
    <servlet-class>com.bvr.controller.DeleteUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserController</servlet-name>
    <url-pattern>/DeleteUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserController
</display-name>
    <servlet-name>EditUserController</servlet-name>
    <servlet-class>com.bvr.controller.EditUserController
</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserController</servlet-name>
    <url-pattern>/EditUserController
</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTermController</display-name>
    <servlet-name>DeleteTermController</servlet-name>
    <servlet-class>com.bvr.controller.DeleteTermController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTermController</servlet-name>
    <url-pattern>/DeleteTermController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTermController</display-name>
    <servlet-name>EditTermController</servlet-name>
    <servlet-class>com.bvr.controller.EditTermController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTermController</servlet-name>
    <url-pattern>/EditTermController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description> </description>
    <display-name>DeleteDistributorHandler
</display-name>
    <servlet-name>DeleteDistributorHandler</servlet-name>
    <servlet-class>com.bvr.controller.DeleteDistributorHandler
</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDistributorHandler</servlet-name>
    <url-pattern>/DeleteDistributorHandler
</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMovieHandler

</display-name>
    <servlet-name>DeleteMovieHandler</servlet-name>
    <servlet-class>com.bvr.controller.DeleteMovieHandler

</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovieHandler</servlet-name>
    <url-pattern>/DeleteMovieHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserHandler</display-name>
    <servlet-name>UpdateUserHandler</servlet-name>
    <servlet-class>com.bvr.controller.UpdateUserHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserHandler</servlet-name>
    <url-pattern>/UpdateUserHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTermHandler</display-name>
    <servlet-name>UpdateTermHandler</servlet-name>
    <servlet-class>com.bvr.controller.UpdateTermHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTermHandler</servlet-name>
    <url-pattern>/UpdateTermHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDistributorHandler</display-name>
    <servlet-name>UpdateDistributorHandler</servlet-name>
    <servlet-class>com.bvr.controller.UpdateDistributorHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDistributorHandler</servlet-name>
    <url-pattern>/UpdateDistributorHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMovieHandler</display-name>
    <servlet-name>UpdateMovieHandler</servlet-name>
    <servlet-class>com.bvr.controller.UpdateMovieHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMovieHandler</servlet-name>
    <url-pattern>/UpdateMovieHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStateHandler</display-name>
    <servlet-name>UpdateStateHandler</servlet-name>
    <servlet-class>com.bvr.controller.UpdateStateHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStateHandler</servlet-name>
    <url-pattern>/UpdateStateHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMovieController</display-name>
    <servlet-name>DeleteMovieController</servlet-name>
    <servlet-class>com.bvr.controller.DeleteMovieController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMovieController</servlet-name>
    <url-pattern>/DeleteMovieController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAllMovieHandler</display-name>
    <servlet-name>UpdateAllMovieHandler</servlet-name>
    <servlet-class>com.bvr.controller.UpdateAllMovieHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAllMovieHandler</servlet-name>
    <url-pattern>/UpdateAllMovieHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.bvr.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelFie2</display-name>
    <servlet-name>ExcelFie2</servlet-name>
    <servlet-class>com.bvr.controller.ExcelFie2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelFie2</servlet-name>
    <url-pattern>/ExcelFie2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelFile</display-name>
    <servlet-name>ExcelFile</servlet-name>
    <servlet-class>com.bvr.controller.ExcelFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelFile</servlet-name>
    <url-pattern>/ExcelFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelF</display-name>
    <servlet-name>ExcelF</servlet-name>
    <servlet-class>com.bvr.controller.ExcelF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelF</servlet-name>
    <url-pattern>/ExcelF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcelServlet</display-name>
    <servlet-name>ExcelServlet</servlet-name>
    <servlet-class>com.bvr.controller.ExcelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelServlet</servlet-name>
    <url-pattern>/ExcelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAccountsHandler</display-name>
    <servlet-name>InsertAccountsHandler</servlet-name>
    <servlet-class>com.bvr.controller.InsertAccountsHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAccountsHandler</servlet-name>
    <url-pattern>/InsertAccountsHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertAccounts2Handler</display-name>
    <servlet-name>InsertAccounts2Handler</servlet-name>
    <servlet-class>com.bvr.controller.InsertAccounts2Handler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertAccounts2Handler</servlet-name>
    <url-pattern>/InsertAccounts2Handler</url-pattern>
  </servlet-mapping>
</web-app>